.card {
	display: inline-block;
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	border-color: black;
	border-width: 1px;
	height: 100px;
	width: 70px;
	border-style: solid;
	border-radius: 10px;
	padding: 1px;
	margin: 1px;
	float: left;
	background-color: white;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
}
.red{
	color: red;
}
.black{
	color: black;
}
.hidden {
	background-color: white;
	border-color: black;
	-webkit-box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
	-moz-box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
	box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
}
.hand {
	width: auto;
	height: auto;
}
#you > .hand > .card:hover {
	height: 110px;
	width: 77px;
	/*-webkit-box-shadow: 0px 0px 5px 5px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 5px 5px rgba(255,0,0,1);
	box-shadow: 0px 0px 5px 5px rgba(255,0,0,1);*/
}

#played_cards {
    position: absolute;
    top: 115px;
    left: 190px;
    width: 180px;
    height: 180px;
}

.top_card {
    position: absolute;
    top: 2px;
    left: 45px;
}

.bottom_card {
    position: absolute;
    bottom: 2px;
    left: 58px;
}

.left_card {
    position: absolute;
    top: 32px;
    left: 2px;
}

.right_card {
    position: absolute;
    top: 48px;
    right: 2px;
}
