.heading{
    font-family: sans-serif;
    text-align: center;
}
.button{
	height: 50px;
	width: 100px;
	margin: 20px 780px;
	font-size: 18px;
}
.screen_center{
    position: absolute;
    top: 48%;
    left: 38%;
}

.help-data{
    font-style: normal;
    font-family: sans-serif;
}

.heading{
    font-weight:500;
    text-align: left;
    text-decoration: underline;
}
