body {
    font-family: monospace;
    background-color: #fdfdfd;
}
.index-body{
    font-family: sans-serif;
}
.heading{
    font-family: sans-serif;
    text-align: center;
}
.button{
    padding: 5px 10px 5px 10px;
	font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #cde6dc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 grey;

}
.button:hover {
    color: white;
    background-color: #43a0c2;
    box-shadow: 0 5px 5px 0 grey;
}
.screen_center{
    position: absolute;
    top: 48%;
    left: 38%;
}

.help-data{
    font-style: normal;
    font-family: sans-serif;
}

.heading{
    font-weight:500;
    text-align: left;
    text-decoration: underline;
}

.setName{
    width: 400px;
    height: 250px;
    background-color: #e7e8d9;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 70px auto;
    transform: translateY(50%);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

#wellcome{
    text-align: center;
}

#name{
    width: 200px;
    height: 25px;
    font-size: 18px;
    border: 1px solid grey;
    box-shadow: 0 3px 3px 0 grey;
    border-radius: 7px;
}

#name:hover{
    box-shadow: 0 5px 5px 0 grey;
}
