.card {
	display: inline-block;
	text-align: center;
	font-family: monospace;
	font-size: 36px;
	border-color: black;
	border-width: 1px;
	height: 150px;
	width: 105px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	margin: 2.5px;
	float: left;
	background-color: white;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
}
.suit {
	text-align: center;
	font-size: 50px;
	padding: 5px;
	margin: 2.5px;
}
#you > .hand > .card:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-50px);
	transition: transform 0.5s ease;
}

.red{
	color: red;
}
.black{
	color: black;
}
.hidden {
	background-color: white;
	border-color: black;
	-webkit-box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
	-moz-box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
	box-shadow: inset 0px 0px 50px 0px rgba(100,100,100,0.74);
}
.hand {
	width: auto;
	height: auto;
}

#played_cards {
    position: absolute;
    top: 50px;
    left: 185px;
    width: 300px;
    height: 300px;
}

.top_card {
    position: absolute;
    top: 2px;
    left: 90px;
}

.bottom_card {
    position: absolute;
    bottom: 2px;
    left: 91px;
}

.left_card {
    position: absolute;
    top: 75px;
    left: 5px;
}

.right_card {
    position: absolute;
    top: 75px;
    right: 5px;
}

.deck {
	position: absolute;
	top: 85px;
	left: 217.5px;
}

.my-hand{
    margin-left: -40px;
}
