.index-body{
    font-family: sans-serif;
}

.heading{
    font-family: sans-serif;
    text-align: center;
}

.button{
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #cde6dc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 grey;
}

.button:hover {
    color: white;
    background-color: #43a0c2;
    box-shadow: 0 5px 5px 0 grey;
}

.screen_center{
    position: absolute;
    top: 48%;
    left: 38%;
}

#name{
    width: 200px;
    height: 25px;
    font-size: 18px;
    border: 1px solid grey;
    box-shadow: 0 3px 3px 0 grey;
    border-radius: 7px;
}

#name:hover{
    box-shadow: 0 5px 5px 0 grey;
}

#help{
  display: flex;
  padding-top: 50px;
  padding-left: 80px;
  text-decoration: none;
}

.body .setName{
  width: 400px;
  height: 200px;
  background-color: #e7e8d9;
  padding-top: 100px;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
}

.header{
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  background-color: #bcc7c9;
  height: 60px;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid grey;
  width: 100%;
}

.body{
  padding: 194px 0 194px 0 ;
}

.footer{
  background-color: #c1b9b9;
  color:white;
  clear:both;
  height: 25px;
  text-align: center;
  padding: 15px 0 10px 85px;
}

.footer a{
  text-decoration: none;
  font-size: 17px;
  color :maroon;
  margin-right: 100px;
}

.footer a:hover{
  text-decoration: underline;
  font-size: 17px;
  color : green;
}

.footer a:active{
  color: red;
}
