#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#trump_options {
    position: absolute;
    /*left: 140px;*/
    top: -20px;
    transform: translateX(50%);
    /*transform: translateY(50%);*/
	/*background: rgba(3,2,1,0);*/

    height: 430px;
    width: 350px;
    z-index:10;
    display:none;
    background-color: rgba(0, 0, 0, 0.3);

    /*box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);*/
    border-radius:10px;
}
#trump_options:target,
#trump_options:target + #cover{
    display:block;
    opacity:2;
}

#trump_options > div {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    background-color: #ddd;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 5px;
    padding: 1px;
    border-bottom: 1px solid;
}

#trump_options > span > .card:hover {
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/*#trump:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
}*/

.bid_value {
    display: inline-block;
    background-color: #FF8C00;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    font-size: 30px;
}
#bid > span > .bid_value:hover {
    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.74);
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.74);
}

#bid {
    position: absolute;
    left: 135px;
    top: 15px;
	background: rgba(3,2,1,0);
    height: 350px;
    width: 337px;
    z-index:10;
    display:none;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    border:2px solid #cccccc;
    border-radius:10px;
}
#bid:target,
#bid:target + #cover{
    display:block;
    opacity:2;
}

#bid > div {
    text-align: center;
    font-family: monospace;
    font-size: 30px;

    height: 35px;
    background-color: #ddd;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 10px;
    padding: 2px;
    border-bottom: 1px solid;
}

.trump_card {
    position: fixed;
    top: 32.8%;
    left: 25%;
}

#seventh {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    color: black;
    width: 200px;

    border: 1px solid black;
    border-radius: 10px;
    margin: 2.5px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
}
#seventh:hover {
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
